*{
    margin: 0%;
    padding: 0%;
    border: 1px;

}

body{
    background-color: #092327;
}
#top{
    color: #ffd47f;
    text-align: center;
}
p{
    text-align: left;
    font-size: 2vw;
}
#title{
    font-size: 4vw;
}
#description{
    font-size: 2vw;
    text-align: center;
}
form{
    width: 50%;
    background-color: #ffd47f;
    color: #aa7fff;
    border: 0.05vw solid black;
    margin: auto;
}
#formHolder{
    background-color: #aa7fff;
    width: 70vw;
    height: auto;
    margin: auto;
}

#optionHolder{
    font-size: 1vw;
    display: flex;
}
#checkboxes{
    display: flex;
}
.entry{
    font-size: 2vw;
    width: 100%;
    min-height: 8vh;
    position: relative;
    margin: auto;
    text-align: left;
    padding: 0%;
}
.entry input{
    width: 100%;
    font-size: 1vw;
}
.entry select{
    width: 100%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
.entry textarea{
    width: 100%;
    font-size: 1vw;
}
#submit{
    background-color: #aa7fff;
    color: #ffd47f;
    border: 0.1vw solid black;
}